@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<ul type="none">
    <li>
        <a asp-page="/CreateProduct" role="button" class="btn btn-primary">Create New</a>
    </li>
    @foreach (var category in Model.CatList)
    {
        <li>
            <a asp-page="/Category" asp-route-id="@category.Id">@category.Name</a>
        </li>
    }
</ul>
