
<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Grayscale - Start Bootstrap Theme</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" runat="server" />
    <STYLE>
        A {
            text-decoration: none;
        }
    </STYLE>

</head>


<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container px-4 px-lg-5">

            <a class="navbar-brand" href="#page-top">
                <a asp-page="/Index"><img border="0" alt="landikon" src="/assets/img/landikon.png" width="100" height="100"></a>
            </a>

            @*<a class="navbar-brand" href="#page-top"></a>*@
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#about">Land</a></li>
                    <li class="nav-item"><a class="nav-link" href="#projects">Types</a></li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>

        <form method="get" action="/SearchResults">
            <input type="text" name="query" />
            <input type="submit" value="Sök" />
        </form>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">LandMark:et</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">the Land, the Market, the Place for you</h2>
                    <a class="btn btn-primary" href="#about">Find Land</a>

                </div>
            </div>
        </div>
    </header>
    <div class="container" id="about">
        @*<main role="main" class="pb-3">
            </main>*@
    </div>
    <!-- About-->
    <section class="about-section text-center">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">

                    <p class="text-white-50">
                        @RenderBody()

                    </p>
                </div>
            </div>
            @*<img class="img-fluid" src="assets/img/bg-signup.jpg" alt="..." />*@
        </div>
    </section>
    <!-- Projects-->
    <section class="projects-section bg-light" id="projects">
        <div class="container px-4 px-lg-5">
            <!-- Featured Project Row-->
            @*@for (int i = 0; i < Model.CatList.Count; i++)
                {
                    if (@Model.CatList[i].Name == "Woodlands")
                    {
                        Model.RubrikId = @Model.CatList[i].Id;
                    }
                }*@
            <a asp-page="/Category" asp-route-id="1">
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/exotiskskog.jpg" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Woodlands</h4>
                            <p class="text-black-50 mb-0">Here you can find happiness, hunting and hiking or perhaps the place to build your home</p>
                        </div>
                    </div>
                </div>
            </a>
            <a asp-page="/Category" asp-route-id="2">
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="assets/img/highlands.jfif" alt="..." /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Highlands</h4>
                                    <p class="mb-0 text-white-50">On the top of the world, with grass and stone under your feet and a puffin family as the closest neighbors, the highlands gives you a sense of freedom</p>
                                    <hr class="d-none d-lg-block mb-0 ms-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <!-- Project One Row-->
            <!-- Project Two Row-->
            <a asp-page="/Category" asp-route-id="3">
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="assets/img/islands.jpg" alt="..." /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Islands</h4>
                                    <p class="mb-0 text-white-50">Cast away on a tropical island, pack for success, start your day fishing, then relax with a cocktail made from hand-picked coconuts</p>
                                    <hr class="d-none d-lg-block mb-0 me-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="container px-4 px-lg-5">
            <!-- Project One Row-->
            <a asp-page="/Category" asp-route-id="4">
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="assets/img/desert.jpg" alt="..." /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Desert</h4>
                                    <p class="mb-0 text-white-50">Get away from the city to a dry paradise with a sunset out of this world, a wasteland of dreams with endless possibilities</p>
                                    <hr class="d-none d-lg-block mb-0 ms-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <!-- Project Two Row-->
            <a asp-page="/Category" asp-route-id="5">
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="assets/img/planet.jpg" alt="..." /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Planets</h4>
                                    <p class="mb-0 text-white-50">Buy a piece of land on a planet and secure a future for your grandchildren, a grand gesture for a loved one, where the oxygen quits on you before the outstanding view does</p>
                                    <hr class="d-none d-lg-block mb-0 me-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>


    </section>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
   

    <!-- Core theme JS-->
    <script src="js/site.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

    <script src="~/js/scripts.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"asp-append-version="true"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
